// $colorYellow: #fcea3c;
// $colorBlack: #101820FF;
$fisrtColor: #fafafa;
$secondaryColor: #101820FF;
$thirdColor : rgb(233, 233, 255);


@mixin center-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin absolute-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}