doctype html
html 
    head
    include src/pug/layout/head.pug
    body 
        include src/pug/layout/navigation.pug
        include src/pug/layout/banner.pug
        include src/pug/layout/gallery.pug
        include src/pug/layout/staff.pug 
        include src/pug/layout/footer.pug
    