.footer{
    min-height: 10vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    h2{
        color: rgb(0, 0, 0);
        flex: 3;
        font-size: 1.5rem;
    }
    ul{
        display: flex;
        justify-content: space-between;
        flex: 1;
        a {
            color: $secondaryColor;
            
            &:hover {
                color:$secondaryColor;
            }
            
            
        }
    }   
}