section.banner
        .showcase
            img.showcase__image(src='./assets/image/banner.png', alt='banner')
            .showcase__description
                h2 BỘ SƯU TẬP PHONG CÁCH VÀ THỜI TRANG
                p Sẵn sàng bước vào mùa đông với bộ sưu tập giày hot nhất 2022