
section.footer
    h2 &copy; MAGNOLIA 2023
    ul
        li
            a(href='#')
                i.fa-brands.fa-facebook(aria-hidden='true')
        li
            a(href='#')
                i.fa-brands.fa-instagram(aria-hidden='true')
        li
            a(href='#')
                i.fa-brands.fa-twitter(aria-hidden='true')