
section#galary.gallery
        h1.title Xem bộ sưu tập của chúng tôi
        .container
            -const shoes = {"./assets/image/shoes1.jpg":"Giày thể thao","./assets/image/shoes2.jpg":"Giày thể thao","./assets/image/shoes3.jpg":"Giày thể thao","./assets/image/shoes4.jpg":"Giày thể thao","./assets/image/shoes5.jpg":"Giày thể thao","./assets/image/shoes5.jpg":"Giày thể thao","./assets/image/shoes6.jpg":"Giày thể thao","./assets/image/shoes7.jpg":"Giày thể thao",}
            for nameShoe, src in shoes
                .card
                    .img-case
                        img(src=src, alt='giày' title='giày')
                    .content
                        h2=nameShoe
                
            
            