section.navigation
        nav
            #logo
                a(href='index.html')
                    img(src='./assets/image/logo.png', alt='')
            ul
                li
                    a(href='#upcoming') Sắp ra mắt
                li
                    a(href='#gallery') Bộ sưu tập